<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="margin-left" value="0"/>
      <add key="line-space" value="1"/>
      <add key="error-log-filename" value="errorlogs.txt"/>
      <add key="left-space" value="4"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
